<main>
  <div class="wrapper">

    <div class="content">

      <div class="tag-menu">

        <mat-chip-list aria-label="food selection">
          <mat-chip [ngClass]="{'is-select': isSelect('all')}" (click)="setSelect('all')">All</mat-chip>
          <mat-chip [ngClass]="{'is-select': isSelect('burgers')}" (click)="setSelect('burgers')">Burgers</mat-chip>
          <mat-chip [ngClass]="{'is-select': isSelect('sushi')}" (click)="setSelect('sushi')">Sushi</mat-chip>
          <mat-chip [ngClass]="{'is-select': isSelect('pizza')}" (click)="setSelect('pizza')">Pizza</mat-chip>
          <mat-chip [ngClass]="{'is-select': isSelect('coffees')}" (click)="setSelect('coffees')">Coffee</mat-chip>
          <mat-chip [ngClass]="{'is-select': isSelect('teas')}" (click)="setSelect('teas')">Tea</mat-chip>
        </mat-chip-list>

      </div>

      <app-search></app-search>

      <div class="carousel-box">
        <app-carousel [restaurants]="populars"></app-carousel>
      </div>

      <div class="food-flex-box">
        <h2>Restaurants</h2>

        <div class="card-box">
          <app-restaurant-card [routerLink]="['/restaurant', restaurant.id]" style="margin-bottom: 30px" *ngFor="let restaurant of restaurants" [restaurant]="restaurant"></app-restaurant-card>
        </div>
      </div>

    </div>


  </div>
</main>
