<div class="cart">

  <div class="cart-body">
    <div class="cart-title">
      Мой заказ
    </div>

    <div class="cart-items">

      <div class="cart-item" *ngFor="let item of getItems(); let i = index; let even_ = even">

        <div class="cart-item-body">

          <div class="cart-item-name">
            <span>{{i + 1}}) </span>{{item.item.name}}
          </div>

          <div class="cart-btns">
            <button (click)="decrement(i)">-</button>

            <div>{{item.q}}</div>

            <button (click)="increment(i)">+</button>
          </div>

        </div>

      </div>

    </div>

    <div class="cart-info">
      <div><span>Итого: </span> {{ getTotalCost() }} ₸</div>
    </div>
  </div>

  <div class="cart-btn">
    <button (click)="doOrder()" [disabled]="isDisabled()">Оформить заказ</button>
  </div>

</div>
